.container {
  &__title {
    margin-block-end: 140px;
  }
}

.iconList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 80px 90px;
  width: 100%;
}

@media (max-width: 70em) {
  .iconList {
    gap: 20px;
  }
}

@media (max-width: 60em) {
  .container {
    &__title {
      margin-block-end: 80px;
    }
  }
}

@media (max-width: 40em) {
  .iconList {
    gap: 5;
  }

  .container {
    &__title {
      margin-block-end: 40px;
    }
  }
}
