.contacts {
  &__text {
    font-family: var(--ff-secondary);
    font-size: 18px;
    line-height: 1.44;

    &_phone {
      grid-area: phone;
    }

    &_email {
      grid-area: email;
    }
  }

  &__social {
    grid-area: social;
  }
}
