.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  width: 100%;

  &__copyright {
    font-size: 18px;
    color: var(--clr-neutral-400);
  }

  &__copyrightNameAccent {
    background-size: 500%;
    background-position-x: -200px;
  }

  &__copyrightLoveAccent {
    background-size: 500%;
    background-position-x: -150px;
  }

  &__copyrightCoffeeAccent {
    background-size: 500%;
    background-position-x: -300px;
  }

  &__container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: black;

      height: 1px;
      width: 100%;
    }
  }
}
