.hero {
  display: grid;
  grid-template: 'title . avatar' / 1fr auto max-content;

  &__title {
    grid-area: title;
    align-self: center;
    font-size: 58px;
    line-height: 1.2;
    font-weight: var(--fw-bold);
    white-space: pre-line;
    letter-spacing: -1px;
    color: var(--clr-primary-400);
  }

  &__titleAccent {
    background-size: 200%;
  }

  &__avatar {
    --width: 350px;

    grid-area: avatar;
    width: var(--width);
    height: var(--width);
  }

  &__title {
    font-size: 58px;
    line-height: 1.2;
  }
}

@media (max-width: 60em) {
  .hero {
    &__title {
      font-size: 48px;
    }

    &__avatar {
      --width: 250px;
    }
  }
}

@media (max-width: 50em) {
  .hero {
    grid-template:
      'avatar'
      '.' 30px
      'title'
      / 1fr;
    justify-items: center;

    &__avatar {
      --width: 200px;
      justify-self: center;
    }

    &__title {
      font-size: 38px;
    }
  }
}
