.circleImage {
  border: 9px solid #0000;
  border-radius: 100%;
  background: linear-gradient(red, blue) padding-box,
    linear-gradient(var(--clr-accent-one), var(--clr-accent-two)) border-box;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

@media (max-width: 50em) {
  .circleImage {
    border-width: 6px;
  }
}
