.section {
  padding: var(--padding-size-400) 0;

  &__title {
    margin-bottom: 96px;
  }
}

.cardList {
  --card-min-width: 300px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
  gap: 62px 45px;
}

@media (max-width: 60em) {
  .section {
    &__title {
      margin-block-end: 80px;
    }
  }

  .cardList {
    --card-min-width: 250px;
    gap: 30px 20px;
  }
}

@media (max-width: 40em) {
  .iconList {
    gap: 0;
  }

  .section {
    &__title {
      margin-block-end: 40px;
    }
  }
}
