:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary-color: #42446e;
  --text-primary-color-hover: #42446ece;
  --text-secondary-color: #666;
  --text-secondary-color-hover: #666666d7;
  --color-gradient-start: #e70faa;
  --color-gradient-end: #00c0fd;
  --color-gradient-name-start: #1aaaf2;
  --color-gradient-name-end: #7565d2;

  --basic-transition: 0.3s ease-out;

  --section-padding: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.title-group {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 49px;
}

.title {
  font-size: 48px;
  line-height: 26px;
  font-weight: 700;
  color: var(--text-primary-color);
}

.subtitle {
  font-size: 32px;
  line-height: 26px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.gradient-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-name {
  background-color: #f3ec78;
  background-image: linear-gradient(
    -90deg,
    var(--color-gradient-name-end),
    20%,
    var(--color-gradient-name-start)
  );
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
