.page {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  font-family: var(--font-geist-sans);

  &__hero {
    margin: 120px 0 200px 0;
  }

  &__contacts {
    margin-block-start: 60px;
  }
}

.main {
  width: 100%;
}
