.hgroup {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 49px;

  &__title {
    font-size: var(--fz-title);
    line-height: 1.2;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);
    text-align: center;
  }

  &__subtitle {
    font-size: var(--fz-subtitle);
    line-height: 1.2;
    font-weight: var(--fw-regular);
    text-align: center;
    color: var(--clr-neutral-400);
  }
}

@media (max-width: 60em) {
  .hgroup {
    gap: 16px;
  }
}

@media (max-width: 50em) {
  .hgroup {
    gap: 8px;
  }
}
