.menuList {
  display: flex;
  gap: 50px;
}

.menuItem {
  transition: var(--basic-transition);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-semibold);
  font-size: inherit;
  color: var(--clr-neutral-400);

  &:hover {
    opacity: 0.6;
  }
}
